@import url('https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,700&family=Montserrat:wght@500;700&display=swap');
$font-family-sans-serif: 'Fraunces', serif;
$font-family-sans-serif: 'Montserrat', sans-serif;

$primary: hsl(158, 36%, 37%);
$secondary:hsl(30, 38%, 92%);
$body-color:hsl(212, 21%, 14%);

$list-group-action-active-color:    $body-color;
@import "../node_modules/bootstrap/scss/bootstrap";

p{
  font-size: 14px;
}

.spacing{
  letter-spacing: .1em;
}

.font-mono{
  font-family: 'Fraunces', serif; ;
}

.font-frau {
  font-family: 'Fraunces', serif;
}

